                <div class="form-group">
                    <label>
                        <span class="input-tr-addon"><i class="fa fa-user"></i></span>
                        {{ form_widget(form.lastname, {'attr': {'placeholder': "Nom",'class':'form-control'}}) }}
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span class="input-tr-addon"><i class="fa fa-user"></i></span>
                        {{ form_widget(form.firstname, {'attr': {'placeholder': "Prénom",'class':'form-control'}}) }}
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span class="input-tr-addon"><i class="fa fa-envelope-o"></i></span>
                        {{ form_widget(form.phone, {'attr': {'placeholder': "Téléphone",'class':'form-control'}}) }}
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span class="input-tr-addon"><i class="fa fa-envelope-o"></i></span>
                        {{ form_widget(form.adresse, {'attr': {'placeholder': "Adresse",'class':'form-control'}}) }}
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <span class="input-tr-addon"><i class="fa fa-envelope-o"></i></span>
                        {{ form_widget(form.cp, {'attr': {'placeholder': "Code postale",'class':'form-control'}}) }}
                    </label>
                </div>