<!-- BIENS -->
<div class="col-md-12">
    <div class="row">
        <h2 class="center">Biens immobiliers déjà vendus</h2>
        <div class="customNavigation pull-right">
            <a class="btn prev"><i class="fa fa-chevron-left"></i></a>
            <a class="btn next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="clearfix"></div>
        <div class="owl-row">

            <div id="owl-biens" class="owl-carousel owl-theme">
                <!--item-->
                <div class="item">
                    <div class="item-content">
                        <div class="item-img-wrapper">
                            <figure>
                                <a href="#"><img src="{{ asset('bundles/coachfront/images/biens/item.jpg')}}" alt="" class="img-responsive"></a>
                            </figure>
                            <div class="item-price-container"><p>180. <small>000</small> € </p></div>
                            <span class="discount-rect">Vendue</span>
                        </div>
                        <div class="item-meta-container">
                            <p><a href="#">Vivamus suscipit tortor eget felis porttitor volutpat.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui</a> </p>
                            <div class="ratings-container">
                                <span class="ratings-amount">5 vue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END item-->

                <!--item-->
                <div class="item">
                    <div class="item-content">
                        <div class="item-img-wrapper">
                            <figure>
                                <a href="#"><img src="{{ asset('bundles/coachfront/images/biens/item.jpg')}}" alt="" class="img-responsive"></a>
                            </figure>
                            <div class="item-price-container"><p>180. <small>000</small> € </p></div>
                            <span class="discount-rect">Vendue</span>
                        </div>
                        <div class="item-meta-container">
                            <p><a href="#">Vivamus suscipit tortor eget felis porttitor volutpat.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui</a> </p>
                            <div class="ratings-container">
                                <span class="ratings-amount">5 vue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END item-->

                <!--item-->
                <div class="item">
                    <div class="item-content">
                        <div class="item-img-wrapper">
                            <figure>
                                <a href="#"><img src="{{ asset('bundles/coachfront/images/biens/item.jpg')}}" alt="" class="img-responsive"></a>
                            </figure>
                            <div class="item-price-container"><p>180. <small>000</small> € </p></div>
                            <span class="discount-rect">Vendue</span>
                        </div>
                        <div class="item-meta-container">
                            <p><a href="#">Vivamus suscipit tortor eget felis porttitor volutpat.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui</a> </p>
                            <div class="ratings-container">
                                <span class="ratings-amount">5 vue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END item-->


                <!--item-->
                <div class="item">
                    <div class="item-content">
                        <div class="item-img-wrapper">
                            <figure>
                                <a href="#"><img src="{{ asset('bundles/coachfront/images/biens/item.jpg')}}" alt="" class="img-responsive"></a>
                            </figure>
                            <div class="item-price-container"><p>180. <small>000</small> € </p></div>
                            <span class="discount-rect">Vendue</span>
                        </div>
                        <div class="item-meta-container">
                            <p><a href="#">Vivamus suscipit tortor eget felis porttitor volutpat.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui</a> </p>
                            <div class="ratings-container">
                                <span class="ratings-amount">5 vue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END item-->


                <!--item-->
                <div class="item">
                    <div class="item-content">
                        <div class="item-img-wrapper">
                            <figure>
                                <a href="#"><img src="{{ asset('bundles/coachfront/images/biens/item.jpg')}}" alt="" class="img-responsive"></a>
                            </figure>
                            <div class="item-price-container"><p>180. <small>000</small> € </p></div>
                            <span class="discount-rect">Vendue</span>
                        </div>
                        <div class="item-meta-container">
                            <p><a href="#">Vivamus suscipit tortor eget felis porttitor volutpat.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui</a> </p>
                            <div class="ratings-container">
                                <span class="ratings-amount">5 vue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END item-->


                <!--item-->
                <div class="item">
                    <div class="item-content">
                        <div class="item-img-wrapper">
                            <figure>
                                <a href="#"><img src="{{ asset('bundles/coachfront/images/biens/item.jpg')}}" alt="" class="img-responsive"></a>
                            </figure>
                            <div class="item-price-container"><p>180. <small>000</small> € </p></div>
                            <span class="discount-rect ">Vendue</span>
                        </div>
                        <div class="item-meta-container">
                            <p><a href="#">Vivamus suscipit tortor eget felis porttitor volutpat.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui</a> </p>
                            <div class="ratings-container">
                                <span class="ratings-amount">5 vue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END item-->

                <!--item-->
                <div class="item">
                    <div class="item-content">
                        <div class="item-img-wrapper">
                            <figure>
                                <a href="#"><img src="{{ asset('bundles/coachfront/images/biens/item.jpg')}}" alt="" class="img-responsive"></a>
                            </figure>
                            <div class="item-price-container"><p>180. <small>000</small> € </p></div>
                            <span class="discount-rect ">Vendue</span>
                        </div>
                        <div class="item-meta-container">
                            <p><a href="#">Vivamus suscipit tortor eget felis porttitor volutpat.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui</a> </p>
                            <div class="ratings-container">
                                <span>5 vue</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END item-->

            </div>
        </div>
    </div>
</div><!-- END BIENS -->