 {% extends '::layout.html.twig' %}
 {% block stylesheets %}

    
<link href="{{ asset('bundles/coachannonce/css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">
<link href="http://www.ziedbouhejba.com/css/styles.css" rel="stylesheet">
<link href="http://www.ziedbouhejba.com/css/responsive.css" rel="stylesheet">

<!-- Important Owl stylesheet -->
<link href="{{ asset('bundles/coachannonce/js/owl-carousel/owl.theme.css')}}" rel="stylesheet">
<link href="{{ asset('bundles/coachannonce/js/owl-carousel/owl.carousel.css')}}" rel="stylesheet">

<!-- font awesome for icons http://fortawesome.github.io/Font-Awesome/ -->
<link href="{{ asset('bundles/coachannonce/css/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
 <link href="{{ asset('bundles/coachannonce/js/js-select/css/select2-bootstrap.css')}}" rel="stylesheet">
 <link href="{{ asset('bundles/coachannonce/js/js-select/css/select2.css')}}" rel="stylesheet">
     
 {%endblock%}
{% block javascripts %}
{{parent()}}
{%endblock%}
{%block body%}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Annonces</a></li>
            <li class="active">Package</li>
        </ol>
    </div>



    <div class="col-md-12">
        <h3 class="title-page">Package</h3>
    </div>

    <div class="col-md-4">
        <img src="img/pub/coach.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-8">
        <h3 class="nmg-t">Ventes Immobilères de particulier à particulier</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
                        <p>I The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. content here'</p>

        
    </div>

    <div class="col-md-12">
        <div class="table-responsive mrg-tb-30">
            <table class="table" id="pack-table">
                <thead>
                    <tr>
                        <th></th>
                        <th><div>Offre Gratuite</div></th>
                        <th><div>Pack Star</div></th>
                        <th><div>Pack Gold</div></th>
                        <th><div>Coaching</div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                    </tr>
                    <tr>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                        <td><div>4</div></td>
                        <td><div>4</div></td>
                        <td><div>9</div></td>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                    </tr>
                    <tr>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                        <td><div><i class="fa fa-times"></i></div></td>
                        <td><div><i class="fa fa-times"></i></div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                    </tr>
                     <tr>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                    </tr>
                    <tr>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                        <td><div>4</div></td>
                        <td><div>4</div></td>
                        <td><div>9</div></td>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                    </tr>
                    <tr>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                        <td><div><i class="fa fa-times"></i></div></td>
                        <td><div><i class="fa fa-times"></i></div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                    </tr>
                     <tr>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div><i class="fa fa-check-circle"></i></div></td>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                    </tr>
                    <tr>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                        <td><div>4</div></td>
                        <td><div>4</div></td>
                        <td><div>9</div></td>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                    </tr>
                    <tr>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                        <td><div><i class="fa fa-smile-o"></i></div></td>
                        <td><div><i class="fa fa-smile-o"></i></div></td>
                        <td><div><i class="fa fa-smile-o"></i></div></td>
                        <td><div>the cell wall and the cell content. Note: Do not confuse this with the .</div></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><div>Tarif - TTC Pour la durée totale de validité</div></td>
                        <td><a href="{{path('coach_annonce_ajouter')}}"><div>Gratuit</div></a></td>
                        <td><a href=""><div>19.99 Euros</div></a></td>
                        <td><a href=""><div>29.99 Euros</div></a></td>
                        <td><a href=""><div>499 Euros</div></a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<br>
<br>

{%endblock%}