<div class="pub-img panneau">
    <p class="center">Je commande mon panneau<br>immobilier personnalisable</p>
    <a href="{{path('coach_panneau_homepage')}}" title="commander un panneau immobilière">
    	<img src="{{asset('bundles/coachfront/images/pub/avendre.jpg')}}" alt="immobilier personnalisable"></a>
    	<a href="{{path('coach_panneau_homepage')}}" title="commander un panneau immobilière">
	    	<img src="{{asset('bundles/coachfront/images/pub/avendre-btn.jpg')}}" alt="immobilier personnalisable" class="btn-img wow bounceIn" style="left:25px; bottom: 68px;">
	    	<img src="{{asset('bundles/coachfront/images/pub/avendre-btn.jpg')}}" alt="immobilier personnalisable" class="btn-img wow bounceIn" data-wow-delay="0.5s" style="left:95px; bottom: 98px;">
	    	<img src="{{asset('bundles/coachfront/images/pub/avendre-btn.jpg')}}" alt="immobilier à vendre" class="btn-img wow bounceIn" data-wow-delay="1s" style="left:145px; bottom: 80px;">
    	</a>
    <p class="button-gray">
        <a href="{{path('coach_panneau_homepage')}}" class="btn btn-success" title="commander un panneau immobilière">je commande</a>
    </p>
</div>