<body style="margin: 0;padding: 0;font-size: 100%;font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;  line-height: 1.65;">
<table style="width: 100% !important;height: 100%;background: #efefef;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;">
    <tr>
        <td style="display: block !important;clear: both !important;margin: 0 auto !important;max-width: 580px !important;">

            <!-- Message start -->
        <table style="width: 100% !important;border-collapse: collapse;">
		<tr>
            <td style="background: white;padding: 30px 35px;">
			   <img style="max-width: 100%;margin: 0 auto;display: block;" src="http://www.particulier-coach.com/mailer/images/logo.png">
		    </td>
		</tr>
		<tr>
            <td align="center" style="padding: 20px 0;background: #71bc37;color: white;">

                <h2 style="margin-bottom: 20px;line-height: 1.25;font-size: 28px;">{{titre}}</h2>
		    </td>
		</tr>
                <tr>
                    <td style="background: white;padding: 30px 35px;">

                        <h2>Salut M. {{nomClient}},</h2><br>
                        Type de bien : {{type}}<br>
                        Etat de bien : {{etat}}<br>
                        Surface : {{surface}}<br>
                        Nombre de chambres : {{nbChambres}}<br>
                        Nombre de pièces : {{nbPieces}}<br>
                        Année de construction : {{annee}}<br>
                        Parking : {{parking}}<br>
                        Piscine : {{piscine}}</p>
		    </td>
		</tr>
		<tr>
                    <td align="center" style="background: white;padding: 30px 35px;text-align: center;">
                        <table style="width: 100% !important;border-collapse: collapse;">
                            <tr>
                                <td align="center" style="background: white;padding: 30px 35px;text-align: center;">
                                    <p style="font-size: 16px;font-weight: normal;margin-bottom: 20px;">
                                        <a style="color: #71bc37;text-decoration: none;display: inline-block;color: white;background: #71bc37;border: solid #71bc37;border-width: 10px 20px 8px;font-weight: bold;border-radius: 4px;text-align: center;" href="http://www.particulier-coach.com{{ path('coach_estimation_cheque',{'cheque':cheque}) }}" target="_blank">Voir votre estimation</a>
                                    </p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
        </table>

        </td>
    </tr>
    <tr>
        <td align="center" style="text-align: center;display: block !important;clear: both !important;margin: 0 auto !important;max-width: 580px !important;">

            <!-- Message start -->
            <table style="width: 100% !important;border-collapse: collapse;">
                <tr>
                    <td style="background: none;text-align: center;" align="center">
                        <p style="font-size: 16px;font-weight: normal;margin-bottom: 20px;">Sent by <a style="font-size: 14px;color: #888;text-decoration: none;font-weight: bold;" href="mailto:particulier.coach@gmail.com">Particulier & Coach</a></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
